<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="resources :: head"></div>
	<title>Departments</title>
</head>

<body>
	<div class="container">
		<h1>Departments</h1>
		<hr/>
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th> <!-- scope=col specifies that the cell is a header for a column -->
					<th scope="col">Department</th>
					<th scope="col">Address</th>
					<th scope="col">Phone</th>
					<th scope="col">E-mail</th>
					<th scope="col">Website</th>
					<th scope="col">Head of department</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${list}">
					<td th:text="${item.id}"></td> <!-- questi sono get abbreviati -->
					<td th:text="${item.name}"></td>
					<td th:text="${item.address}"></td>
					<td th:text="${item.phone}"></td>
					<td th:text="${item.email}"></td>
					<td th:text="${item.website}"></td>
					<td th:text="${item.headOfDepartment}"></td>
					<td><a class="btn btn-primary" th:href="@{|/department/${item.id}|}">Detail</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- scripts -->
	<div th:replace="resources :: scripts"></div>
</body>
</html>
